OPENAI_API_KEY=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
TWILIO_ACCOUNT_SID=AC5526d92740ee8a6c55f0af97fecf6308
TWILIO_AUTH_TOKEN=c681d53cc0553db1a8528a0e25c64526